{% extends 'myaoo/base.html' %}
{% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
{% else %}
      <p>Please login to see this page.</p>
{% endif %}
{% block myhdg %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block body_block %}
    {% csrf_token %}
    {% if order_list %}
        <h2>Orders Placed</h2>
        <ol>
            {% for order in order_list %}
                <li> {{order.product.name}} </li>
            {% endfor %}
        </ol>
    {% else %}
        <h2>There are no available orders!</h2>
    {% endif %}
{% endblock %}